body {
    min-height: 100vh;
    background-image: url(computer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(facebook-color.png) url(instagram-color.png);
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #555555;
    padding: 25px 30px;
    margin-right: 70px;
    letter-spacing: 4px;
    
}

a {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #03e9f4;
    font-size: 1.2rem;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    margin-right: 70px;

}

a:hover {
    background-color: #03e9f4;
    color: #050801;
    box-shadow: 0 0 7px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

a:first-child {
    filter: hue-rotate(225deg);
}

a:last-child {
    filter: hue-rotate(90deg);
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s infinite;
}

@keyframes animate1 {
    0% {
        left: -100;
    }

    100% {
        left: 100%;
    }
}

a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s infinite;
    animation-delay: .25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    100% {
        top: 100%;
    }
}

a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s infinite;
    animation-delay: .5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    100% {
        right: 100%;
    }
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s infinite;
    animation-delay: .75s;
}
@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 100%;
    }
}
a .abutton {
    position: relative;
    background: #fff;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;

}

.header-main {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.header-main-logo {
    width: fit-content;
    border-radius: 6px;
    height: 100%;
    padding-left: 60px;
    display: flex;
}

.header-main-logo img {
    height: 40px;
    align-self: center;
}

.header-main-nav {
    width: fit-content;
    height: 100%;

}

.header-main-nav ul {
    list-style: none;
}

.header-main-nav ul li {
    display: inline;
    float: left;
    margin-left: 30px;
}

.header-main-nav ul li a {
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 60px;
    color: white;
    display: block;
    height: 100%;
}

.header-main-nav ul li a:hover {
    color: #c13584;
}

.header-main-sm {
    width: fit-content;
    height: 100%;

    padding-right: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header-main-sm-fb {
    width: 20px;
    height: 20px;
    background-image: url(facebook-color.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.header-main-sm-fb:hover {
    background-image: url(facebook-color.png);

}

.header-main-sm-in {
    width: 20px;
    height: 20px;
    background-image: url(instagram-color.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.header-main-sm-in:hover {
    background-image: url(instagram-color.png);

}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  article > img {
    scale: .8; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 250px 500px;
    }
    
    @keyframes fade-in {
    to { scale: 1; opacity: 1;}
    }
    

